* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:transparent;
  color: var(--text-color);
}

:root {
  /* Define your custom colors as CSS variables */
  --primary-color: rgba(1, 9, 45, 1); /* Example primary color (blue) */
  --secondary-color: rgba(69, 131, 190, 1); /* Example secondary color (gray) */
  --accent-color: rgba(16, 95, 134, 1); /* Example accent color (yellow) */
  --background-color:rgba(1, 9, 45, 0.495); /* Example background color */
  --text-color: rgba(102, 198, 194, 1); /* Example text color (dark gray) */
}

@font-face {
  font-family: 'BoecklinsUniverse'; /* Name your font family */
  src: url('./assets/fonts/BoecklinsUniverse.woff2') format('woff2'); /* Specify the path to your WOFF2 font file */

  /* You can include additional font formats and their paths if necessary */
  /* font-family: "ArtNouveau";
  src: url('./assets/fonts/ArtNouveauCaps.woff2') format('woff2') */
}


body {
  /* overflow: hidden; */
  background-color: var(--primary-color);

}

.App {
  min-height: 100vh;
  width: 100%;
  max-width: 700px;
  /* border: 1px solid rgb(79, 79, 138); */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
}

button {
  border: none;
  font-family: 'BoecklinsUniverse', sans-serif;
  letter-spacing: 1px;
  font-size: 1.1rem;
}


/* HEADER HEADER HEADER */
header {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  color: var(--text-color);
  font-family: 'BoecklinsUniverse', sans-serif;
  background-color:var(--background-color);
  border-bottom: 2px solid var(--text-color);
  border-radius: 1rem;
  width: 100%;
  background-image: url("./assets/img/foot-head.png");
  background-size: cover;
}

h1 {
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1.7rem;
  font-family: 'BoecklinsUniverse', sans-serif;
  font-size: 1.7rem;
}

h2,
h3 {
  font-family: 'BoecklinsUniverse', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
  /* margin-bottom: 1rem; */
  }

  .nav {
    width: 100%;
  }

  .nav-list {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .nav-list li {
    padding: 0.5rem;
    text-align: right;
    border-top: 1px solid var(--text-color);
  }
  
  .nav-list li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding:0.5rem;
    /* background-color: var(--primary-color); */
  }

  
  .nav-list li a.active {
    color: rgba(211, 227, 226, 1);
  }
  
  .dropdown-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 106px;
      left: 0;
      background-color: var(--primary-color);;
      width: 100%;
      padding: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    }
  
    .nav-list.open {
      display: flex;
    }
    
  
    .dropdown-toggle {
      display: block;
      position: absolute;
      top: 37px;
      right: 20px;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.5rem;
    }
  }
  

/* MAIN MAIN MAIN */
main {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling for main content */
  background-image: url(./assets/img/background2.png);
  background-size:  contain; /* Stretch the background image to cover the entire width and maintain its aspect ratio */
  background-position:center; 
  background-repeat: repeat; /* Prevent the background image from repeating */
  background-attachment: fixed;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
}


/* HOME HOME HOME */

.welcome-text {
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
  /* border-radius: 1rem; */
  font-size: 1rem;
  height: 100%;
  padding: 1rem;
}

.photo.div {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homepage-img{
  height: 350px;
  border-radius: 25%;
}

.welcome-text ul {
  list-style:none;
  text-align: left;
  max-width: 260px;
}

.welcome-text ul li {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

/* GUEST BOOK GUEST BOOK GUEST BOOK */
.guest-book {
  background-color: var(--background-color);
  /* border-radius: 1rem; */
  width: 100%;
  max-width: 1000px;
  flex: 1;
  text-align: center;
}

.edit-btn {
  border: 1px solid var(--text-color);
  padding: 5px;
  border-radius: 5px;
}

.edit-btn:hover {
  cursor: pointer;
}



.message-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}



.message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-color);
  border-width: 20px; /* Width of the border */
  border-style: solid; /* Border style */
  border-image-source: url('./assets/img/frame3.png'); /* URL of the border image */
  border-image-slice: 80; /* How much of the border image to slice (adjust as needed) */
  border-image-repeat: round; /* Repeat the border image to fill the border */
  border-radius: 1rem;
  padding: 0.5rem; /* Padding inside the border */
  max-width: 300px;
  min-width: 300px;
}

.message h3, .message p {
  color: var(--text-color);

}

.post-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

input {
  max-width: 300px;
  border-bottom: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

textarea {
  height: 200px;
  width: 300px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
}

input::placeholder,
textarea::placeholder{
  color: var(--text-color);
  font-family: monospace;
}

input:focus,
textarea:focus{
  background-color: var(--primary-color);
  transform: scale(1.1);
}

.add-post {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.add-post:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.8s;
}

/* SCHEDULE */

.schedule-page,
.info-page,
.login-page,
.gallery-page {
  max-width: 1000px;
  /* border-radius: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background-color);
  flex: 1;
  width: 100%;
}

.info-page h3 {
  font-size: 1.5rem;
}

.short-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.short-info p {
  /* font-weight: bold; */
  /* margin: 0.75rem; */
  text-align: center;
  font-size: 1.2rem;
}

.short-info h4 {
  font-family: 'BoecklinsUniverse', sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.saturday {
  font-size: 1.5rem;
}

.login-msg {
  background-color: rgba(250, 235, 215, 0.854);
  max-width: 300px;
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--primary-color);
  text-align: center;
}

.login-page button {
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--text-color);
  color: var(--primary-color);;
}

.btn-div,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-page button:hover{
  cursor: pointer;
}

/* FOOTER FOOTER FOOTER */
footer {

  width: 100%; /* Take the full width of the viewport */
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.15rem;
  padding: 0.5rem;
  color: var(--text-color);
  font-family: 'BoecklinsUniverse', sans-serif;
  background-color: var(--background-color);
  border-top: 2px solid var(--text-color);
  border-radius: 1rem;
  background-image: url("./assets/img/foot-head.png");
  background-size: cover;
}

footer p {
  font-size: 0.8rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

@media (min-width: 750px) {
  html {
    font-size: 1.2rem;
  }
  main {
    background-image: url(./assets/img/background.png);
    flex-wrap: wrap;
    background-size: contain;
  }

  h1 {
    font-size: 3rem;
  }

  header p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .welcome-text{
    width: 100%;
    height: fit-content;
    justify-content: start;
    font-size: 1.4rem;
  }

  .first-text,
  .second-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .second-text{
    flex-direction: row-reverse;
    width: 100%;
  }

  .welcome-text ul li {
    margin-top: 0.5rem;
    font-size: 1.3rem;
    width: 120%;
  }

  .first-text p {
    width: 40%;
  }

  .homepage-img{
    width: 40%;
    height: auto;
  }

  .menu-info {
    display: none;
  }

  .App {
    max-width: 1000px;
  }

  .info-page p,
  .schedule-page p{
    width: 70%;

  }

  .guest-book {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .message{
    width: 90%;
    max-width: 600px;
  }

  .message h3 {
    font-size: 1.5rem;
  }

}

@media (min-width: 900px) {
  main{
    background-image: url(./assets/img/laptop.jpg);
    background-size: cover;
  }
}